h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  color: #434455;
  background-color: #FFFFFF;
  font-family: 'Roboto',  sans-serif;
 
}
ul {
  list-style: none;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
  .feature {
    
    width: calc((100% - 72px) / 4);  
  }

  .small {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4%;
    line-height: 14px;
  }
  .medium {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color:#434455;
  
  }
  .team-header{
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    margin-bottom: 72px;
    color: #2e2f42;
  }
  .feature-header{
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    
  }
  .team-p{
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
  }
  
  .hero-header{
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-size: 56px;
    max-width: 496px; 
  }
  .feature-list {
    display: flex;
    gap: 24px; 
    align-items: center;
  }
  .feature-main-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .portfolio-header{
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
  }
  .portfolio-h{
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
  }
  .portfolio-list-item{
    width: calc((100% - 48px) / 3); 
    display: block;
  }
  .portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    align-items: center;
  }
  .portfolio-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
  }
  .button-text {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 24px;
  }
  .contact{
    font-size: 16px ;
    line-height: 1.5;
    color:#434455;
    text-decoration: none;
    font-family: 'Roboto';
   
    font-weight: 400;
    letter-spacing: 0.02em;
    
  }
  .contact-link{
    color: #434455
  }
 
  .contact-link:focus {
    color: #404bbf;
  }
  .contact-link:hover {
    color: #404bbf;
  }
  .feature-header{
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
  }
  
  .contact-info {
   
    
    text-align: right;
    
  }
  .contact:hover {
    color: #404BBF;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .logo{
    font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   color: #4d5ae5 ;
    letter-spacing: 0.03em; 
    line-height: 1.17;
    margin-right: 76px;
    font-weight: 700;
    font-size: 18px;
  }
  .footer-link {
    display: inline-block; 
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   color: #4d5ae5 ;
    letter-spacing: 0.03em; 
  }
  .logo-white{
    color: #F4F4FD;
  }
  .logo-blue{
    color: #4D5AE5;
  }
  .logo-black{
    color: #2E2F42;
    
  }
  .contact-list {
    display: flex;
    gap: 40px;
  }
  .main-link{
    color: #2E2F42;
    padding: 24px 0;
  }
 address{
  font-style: normal;
 }
  .main-link:focus {
    color: #404bbf;
  }
  .main-link:hover {
    color: #404bbf;
  }
  .hero{
    background-color: #2E2F42;
    color:#FFFFFF;
    text-align: center;
    padding: 188px 0;
  }

  
  .btn-primary {
    background-color: #4D5AE5;
    color: #FFFFFF;
    display: block;
    border: none;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    font-size: 16px;
    cursor:pointer;
  }
  .btn-primary:hover {
    background-color: #404BBF;
  }
  .btn-primary:focus {
    background-color: #404BBF;
  }
  .features {
    
    
   
    justify-content: space-between;
  }
  .team-container {
    padding: 32px 0;
  }
  .team-card{
    width: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
justify-content: center;
text-align: center;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

  }
  .team{
    display: flex;
    justify-content: center;
    gap: 24px;
    
  }
  .team-card-img{
   
   
    object-fit: cover;
    object-position: top center;
    
  }
  .gray-text{
    color:#434455;
  }
  .team-section h2{
    text-align: center;
    padding-bottom: 36px;
  }
  
  .team-section {
    background-color: #F4F4FD;
   
  }
  .app-footer {
    background-color: #2E2F42;
    color:#F4F4FD;
    padding: 100px 0;
    
  }
  .footer-p {
    max-width: 264px;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }